@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #fff;
    --color-secondary: #00ae8b;
    --color-heading: #00525f;
    --color-text: #00cb82;
    --color-background: #cbff73;

    font-size: 62.5%;
  }
}
h1,
span,
a,
p {
  color: var(--color-heading);
}

@layer utilities {
  /* This two helpers apply a -50% to the translate x/y, and add
   * a --y/--x css variable to it. This util is only here to make writing this class
   * a bit easier to read in the HTML :)   */
  .translate-y-centered-offset {
    @apply translate-y-[calc(-50%_+_var(--y))];
  }
  .translate-x-centered-offset {
    @apply translate-x-[calc(-50%_+_var(--x))];
  }
}
