.container {
  height: 300vh;
  position: relative;
}
.container .sticky {
  position: sticky;
  overflow: hidden;
  top: 0;
  height: 100vh;
}

.pageoverlay {
  background: linear-gradient(to top, #cbff73, rgba(0, 0, 0, 0));
  position: absolute;
  height: 20vh;
  right: 0;
  bottom: 0;
  left: 0;
}
.container .sticky .el {
  width: 100%;
  height: 100%;
  top: 0;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container .sticky .el .imageContainer {
  position: relative;
  width: 26vw;
  height: 26vh;
  /* border-radius: 25px; */
  overflow: hidden;
}
.container .sticky .el .imageContainer img {
  object-fit: cover;
}
.container .sticky .el:nth-of-type(2) .imageContainer {
  top: -30vh;
  left: 5vw;
  width: 35vw;
  height: 30vh;
}
.container .sticky .el:nth-of-type(3) .imageContainer {
  top: -9vh;
  left: -25vw;
  width: 20vw;
  height: 45vh;
}
.container .sticky .el:nth-of-type(4) .imageContainer {
  left: 24.5vw;
  width: 20vw;
  height: 25vh;
}
.container .sticky .el:nth-of-type(5) .imageContainer {
  /* last */
  top: 30vh;
  left: 15vw;
  width: 40vw;
  height: 30vh;
}
.container .sticky .el:nth-of-type(6) .imageContainer {
  /* last */
  top: 40vh;
  left: -18.5vw;
  width: 25vw;
  height: 50vh;
}
.container .sticky .el:nth-of-type(7) .imageContainer {
  top: 22.5vh;
  left: 20vw;
  width: 15vw;
  height: 15vh;
  display: none;
}

.container .sticky .el:nth-of-type(8) .imageContainer {
  /* Adjust these values as needed */
  top: -40.5vh;
  left: -22vw;
  width: 15vw;
  height: 15vh;
}

.container .sticky .el:nth-of-type(9) .imageContainer {
  /* Adjust these values as needed */
  top: -31vh;
  left: 36vw;
  width: 25vw;
  height: 34vh;
}

.container .sticky .el:nth-of-type(10) .imageContainer {
  /* last */
  /* Adjust these values as needed */
  top: 30vh;
  left: -40vw;
  width: 16vw;
  height: 30vh;
  /* display: none; */
}

.container .sticky .el:nth-of-type(11) .imageContainer {
  /* Adjust these values as needed */
  top: 30vh;
  left: -40vw;
  width: 16vw;
  height: 30vh;
  display: none;
}

.container .sticky .el:nth-of-type(12) .imageContainer {
  /* Adjust these values as needed */
  top: -20vh;
  left: -42.5vw;
  width: 13vw;
  height: 55vh;
}

.container .sticky .el:nth-of-type(13) .imageContainer {
  /* Adjust these values as needed */

  /* last */
  top: 29vh;
  left: 42vw;
  width: 12vw;
  height: 75vh;
}
